version: "3.9"

services:
  mongo:
    image: mongo
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: flight_backend
    restart: always
    ports:
      - "5001:5000"
    environment:
      MONGO_URL: mongodb://mongo:27017/flightdb
      PORT: 5000
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: flight_frontend
    restart: always
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  mongo_data: